* {
  --main: #272f3d;
  --dark: #1c2129;
  --light: #4c576a;
  --txt: #ffffff;
  --txt2: #8b91ac;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.MuiDivider-middle {
  height: 2px !important;
  background-color: var(--light) !important;
  width: 95% !important;
  margin: 20px 0 !important;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input[type="search"] {
  text-align: left !important;
}

p:not(:last-child) {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

.color-txt {
  color: var(--txt2);
}

#root {
  width: 100vw;
  height: 100vh;
}

.drawer {
  position: sticky !important;
}

.Main {
  background-color: #2d3645;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  color: white;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 56px;
  -webkit-overflow-scrolling: touch;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  margin: 18px;
}

.main-stats {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 10px;
}

span {
  z-index: 25;
}

.hp {
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.small {
  color: #adbbc4 !important;
  font-size: 12px !important;
  font-weight: 300 !important;
  text-transform: uppercase;
}

.title {
  margin-bottom: 5px;
}

.small2 {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  padding: 4px;
  text-transform: uppercase;
  font-weight: 600;
}

.large-hp {
  height: 65%;
  background-color: #1b2029;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.hp-value {
  color: var(--txt) !important;
  font-size: 25px !important;
}

.small-hp {
  height: 30%;
  background-color: #1b2029;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 10px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 0 10px;
}

.head {
  background-color: #1b2029;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-paper {
  padding: 18px;
  margin: 18px;
  cursor: pointer;
  color: var(--txt2) !important;
  background-color: var(--dark) !important;
  font-weight: 600;
  font-size: 18px;
}

.list-paper2 {
  padding: 18px;
  margin: 18px;
  cursor: pointer;
  color: var(--txt) !important;
  background-color: var(--light) !important;
  font-weight: 600;
  font-size: 18px;
}

.list-paper-inner {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  color: var(--txt) !important;
  background-color: var(--light) !important;
  font-weight: 600;
  font-size: 18px;
}

.fixed {
  position: fixed;
  top: 10px;
}

.search-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 30px 0px 20px;
}

.input {
  color: white;
  align-self: center;
}

.list {
  width: 100%;
  height: 100%;
  margin: 0 25px 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-body {
  width: 95%;
  margin-top: 15px;
}

.wait {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spell-card {
  width: 340px;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.modal-content {
  max-height: 400px !important;
}

.bold {
  font-weight: 600;
}

.modal-middle {
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
  margin-top: -12px;
  font-size: 14px;
}

.box {
  width: 110px;
  margin: 3px;
  padding: 3px;
  align-items: center;
  justify-content: center;
}

.spell-title {
  font-weight: 600 !important;
  font-size: 24px !important;
}

.list-title {
  color: var(--txt2);
  font-size: 20px;
  font-weight: 600;
  margin: 15px;
}

.spell-card-content {
  height: 100%;
  background-color: var(--main);
  padding: 5px 20px;
  overflow-y: scroll;
}

.spell-box {
  color: var(--txt2) !important;
  background-color: var(--dark) !important;
  margin: 15px 0;
  padding: 15px;
  border-radius: 4px;
}

.page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  color: var(--txt2);
  margin-bottom: 15px;
}

.level-title {
  color: var(--txt2);
  font-size: 20px;
  margin: 7px;
  font-weight: 600;
}

.spaced-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.stat-float {
  width: 90px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stat-float input {
  width: 100%;
  height: 38px;
  background: none;
  border: none;
  text-align: center;
  font-size: 24px;
  color: var(--txt);
}

.stat-float p {
  width: 100%;
  height: 38px;
  background: none;
  border: none;
  text-align: center;
  font-size: 24px;
  color: var(--txt);
}

.stat-float span {
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: var(--txt2);
}

.divider {
  margin: 10px 0 !important;
}

.mid-stats {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -20px;
}

/* STAT BOX */

.stat-box {
  width: 30%;
  max-width: 145px;
  margin-bottom: 20px;
}

.label {
  color: #adbbc4;
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.stat-item {
  width: 45%;
  margin-bottom: 10px;
  background: #1c212a;
  padding: 0;
  color: #adbbc4;
  line-height: 68px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.saving {
  background: #1c212a;
  padding: 0;
  color: #adbbc4;
  text-align: center;
  line-height: 38px;
}

/* STAT BOX */

/* SKILLS */

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /* padding-bottom: 40px; */
}

.skill-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark);
  color: var(--txt2);
  width: 40%;
  height: 45px;
  padding: 5px 10px;
  margin: 5px;
}

/* SKILLS */

.menu-list {
  width: 250px;
  z-index: 9999;
}

.menu-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.menu-icon {
  width: 105px;
  margin: 20px 5px;
}

.MuiDrawer-paper {
  color: var(--txt2) !important;
  background-color: var(--main) !important;
}

.MuiInputBase-input {
  text-align: center !important;
}

.spell-button {
  margin: 10px !important;
  color: var(--txt) !important;
  background-color: var(--light) !important;
}

.MuiDivider-root {
  background-color: var(--light) !important;
  width: 95% !important;
  margin: auto !important;
  height: 0.8px !important;
}

.MuiDrawer-paper {
  width: 205px;
}

.class-div {
  margin: 15px 0 !important;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .main-stats {
    justify-content: space-around;
  }

  .container {
    margin: 30px;
  }

  .mid-stats {
    margin: 15px 0 0 0;
  }

  .spaced-row {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .stat-box {
    margin-bottom: 35px;
  }

  .MuiDrawer-paper {
    width: 255px;
  }

  .main {
    margin-top: 64px;
  }
}

@media only screen and (min-width: 750px) {
  .skill-box {
    width: 25%;
  }

  .stat-box {
    margin: 0 25px 25px 25px;
    max-width: 200px;
  }

  .label {
    font-size: 18px;
    font-weight: 600;
  }

  .stat-float span {
    font-size: 15px;
  }
}
